@define ANIM_TIME: 0.75s;
@define EXTRA_PADDING: 10px;
@define M_EXTRA_PADDING: 0px;

.CustomHudRoot {
  width: 100%;
  height: 100%;
}

#TopBarScoreboard {
  horizontal-align: center;
  vertical-align: top;
}

.AspectRatio4x3 #TopBarScoreboard {
  margin-left: 225px;
}

#ScoreboardContainer {
  margin-left: 70px;
  flow-children: right;
  horizontal-align: left;
  vertical-align: top;
}

#MultiteamScoreboard {
  horizontal-align: left;
  vertical-align: top;
  height: 250px;
  padding-left: EXTRA_PADDING;
  padding-right: EXTRA_PADDING;
  flow-children: right;
}

.ScoreboardTeamWrapper {
  height: 100%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition-property: position;
  transition-duration: ANIM_TIME;
  margin-left: M_EXTRA_PADDING;
  margin-right: M_EXTRA_PADDING;
}

#TeamLogo {
  horizontal-align: left;
  vertical-align: top;
  width: 24px;
  height: 24px;
}

.ScoreboardTeamWrapper.no_players {
  visibility: collapse;
}

.ScoreboardTeamWrapper.ten_players {
  margin-left: 0px;
  margin-right: 0px;
}

#ScoreboardTeam {
  margin-left: EXTRA_PADDING;
  margin-right: EXTRA_PADDING;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 120px;
}

.AspectRatio4x3 .ScoreboardTeamWrapper {
  padding-left: -5px;
  padding-right: -5px;
}

.ScoreboardTeamWrapper.team_getting_worse {
  animation-duration: ANIM_TIME;
  animation-timing-function: ease-in-out;
  animation-name: GettingWorseAnim;
  z-index: -100;
}

.ScoreboardTeamWrapper.team_getting_better {
  animation-duration: ANIM_TIME;
  animation-timing-function: ease-in-out;
  animation-name: GettingBetterAnim;
  z-index: 100;
}

@keyframes 'GettingWorseAnim' {
  0% {
    pre-transform-scale2d: 1;
  }

  50% {
    pre-transform-scale2d: 1;
  }

  100% {
    pre-transform-scale2d: 1;
  }
}

@keyframes 'GettingBetterAnim' {
  0% {
    pre-transform-scale2d: 1;
  }

  50% {
    pre-transform-scale2d: 1.05;
  }

  100% {
    pre-transform-scale2d: 1;
  }
}

#LogoAndScore {
  height: 100%;
  width: 64px;
}

#TeamScore {
  vertical-align: bottom;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 0px 4px 4 black;
  horizontal-align: right;
  margin-right: 10px;
  text-overflow: clip;
}

.TeamName {
  vertical-align: bottom;
  horizontal-align: left;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 0px 6px 4 black;
  margin-left: 5px;
  margin-bottom: 2px;
  text-overflow: clip;
}

#TeamDarkenWash {
  width: 100%;
  height: 42px;
  background-color: gradient(linear, 25px 0%, 40px 0%, from(black), to(transparent));
}

#TeamStatus {
  width: 100%;
  height: 100%;
}

#PlayersContainer {
  horizontal-align: center;
  flow-children: right;
}

#TeamOverlayBar {
  width: 100%;
  height: 64px;
  z-index: -2;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#434f5e5e), to(#17191fd3));
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.2);
}

#LocalTeamOverlay {
  width: 100%;
  height: 43px;
}

.ScoreboardTeamWrapper.local_player_team #LocalTeamOverlay {
  box-shadow: 0px 0px 8px 0px #ffffff88;
}

.ScoreboardPlayer {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.FlowDown {
  flow-children: down;
}

.PlayerPortraitWrapper {
  flow-children: down;
}

#PlayerColorBar {
  height: 3px;
  width: 100%;
  border-bottom: 1px solid #000000;
}

#HeroIcon {
  width: 64px;
  height: 26px;
}

.player_dead #HeroIcon {
  wash-color: #cccccc;
  saturation: 0;
}

.player_connection_abandoned #HeroIcon {
  wash-color: #ff0000;
  saturation: 0;
}

#DisconnectionIndicator {
  opacity: 0;
  width: 100%;
  height: 18px;
  vertical-align: top;
  margin-top: 12px;
}

.player_connection_abandoned #DisconnectionIndicator,
.player_connection_failed #DisconnectionIndicator,
.player_connection_disconnected #DisconnectionIndicator {
  opacity: 1;
}

#ScoreRow {
  width: 100%;
}

#RespawnIndicator {
  width: 100%;
  height: 100%;
  align: center center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#RespawnTimer {
  color: #ff0000;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  margin-bottom: 4px;
  font-size: 18px;
  font-family: Reaver;
  font-weight: semi-bold;
  text-shadow: 2px 2px 2px 2 black;
}

.ScoreboardPlayerWrapper.player_dead #RespawnIndicator {
  opacity: 1;
  transform: translateY(0px);
}

#LocalPlayerIndicator {
  horizontal-align: center;
  vertical-align: bottom;
  visibility: collapse;
  width: 40px;
  height: 20px;
}

#UltimateIndicatorContainer {
  horizontal-align: center;
  width: 20px;
  height: 20px;
  margin-top: 32px;
}

.player_ultimate_not_leveled #UltimateIndicatorContainer {
  visibility: collapse;
}

.not_local_player_team #UltimateIndicatorContainer {
  visibility: collapse;
}

.UltimateIndicatorShared {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.is_local_player #LocalPlayerIndicator {
  visibility: visible;
}

#TipButton {
  margin-top: 72px;
  overflow: clip;
  max-width: 60px;
  max-height: 20px;
  padding: 2px 4px 1px 4px;
  min-width: 0px;
  min-height: 0px;
  horizontal-align: center;
  flow-children: right;
  opacity: 0;
  transition-property: pre-transform-scale2d, opacity, transform;
  transition-duration: 0.12s;
  transition-timing-function: ease-in-out;
}

.is_local_player #TipButton {
  visibility: collapse;
}

.AltPressed .PlayerTippable #TipButton {
  opacity: 0.3;
}

.AltPressed .PlayerTippable #TipButton:hover {
  opacity: 1;
}

.TipsAvailable #TipButton {
  visibility: visible;
}

#TipButton #TipIcon {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  transform: translateY(-1px);
  margin-right: 4px;
  background-image: url("s2r://panorama/images/dota_plus/currency_icon_png.vtex");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#TipButton Label {
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: middle;
}

.KillToWin {
  horizontal-align: center;
  margin-top: 70px;
}

.KillToWinLabel {
  font-size: 28px;
  color: white;
  font-weight: bold;
  align: center center;
  text-shadow: 0px 0px 4px 4 #000000;
  font-family: Reaver;
  text-align: center;
  margin-bottom: 20px;
}

.FlagCounter {
  horizontal-align: center;
  vertical-align: center;
  margin-top: 30px;
  color: white;
  text-shadow: 0px 2px 4px 1 #000;
  text-shadow: 0px 0px 4px 4 #000000;
  font-family: Reaver;
}

.TimeVideo {
  width: 114px;
  height: 114px;
  opacity-mask: url("file://{images}/custom_game/sphere_opacity.png");
}

.TimeUntil {
  letter-spacing: 1px;
  horizontal-align: center;
  font-size: 24px;
  margin-top: 120px;
  color: white;
  vertical-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px 3 black;
  text-transform: uppercase;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
}

.TimeUntilActive {
  opacity: 1;
}

.KillsRemaining {
  width: 100%;
  color: #ea0000;
  text-shadow: black 0px 0px 2px 3;
  font-size: 15px;
  margin-top: 60px;
  height: 20px;
  horizontal-align: center;
  text-align: center;
  animation-name: shake_text;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  visibility: collapse;
  text-transform: uppercase;
}

@keyframes 'shake_text' {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
